.course-card-footer {
    text-align: center
}

.course-card {
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.course-card-selected{
    box-shadow: 0 0 15px 1px inset rgba(32, 174, 245, 0.8);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.course-card-conflicted  {
    box-shadow: 0 0 15px 1px inset rgba(250, 2, 2, 0.8);
    cursor: not-allowed !important;
}

.course-card::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

.course-card:hover {
    -webkit-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
}

.course-card:hover::after {
    opacity: 1;
}
.course-edit-button {
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    height: fit-content;
    background-color: transparent;
    border: none;
    opacity: 0.2;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hide {
    display: none;
}

.course-edit-button:hover {
    -webkit-transform: scale(1.7, 1.7);
    transform: scale(1.7, 1.7);
    opacity: 1;
}

